.card {
    background: #fff;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card h3 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #202022;
}

.card p {
    font-size: 14px;
    color: #555;
    margin: 6px 0;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 160%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px;
}

.priority {
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.priority.low {
    width: 76px;
    height: 18px;
    background-color: #C1E288;
    color: #303240;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 160%;
    vertical-align: middle;
}

.priority.medium {
    width: 95px;
    height: 18px;
    background-color: #FFEDC9;
    color: #303240;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 160%;
    vertical-align: middle;
}

.priority.top {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 160%;
    vertical-align: middle;
    background-color: #FBB6B6;
    color: #303240;
}

.due-date {
    color: #475467;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 160%;

}

.priority.top {
    background-color: #FBB6B6;
    color: #303240;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 160%;
    vertical-align: middle;
    width: 95px;
    height: 18px;
}